<form {{on 'submit' this.onSubmit}}>
	<label>
		Title
		<Input @value={{@post.title}} />
	</label>
	<label>
		Content
		<Editor @content={{@post.content}} @onChange={{this.onContentChange}} />
	</label>
	<button type="submit">
		Create
		{{#if this.savePost.isRunning}}
			<FaIcon @icon="spinner" @spin={{true}} />
		{{/if}}
	</button>
</form>