<article local-class="post">
	{{#if this.session.isAuthenticated}}
		<Button @text="Edit" @icon="pencil-alt" @onClick={{this.onEdit}} />
	{{/if}}
	<h1>
		{{@post.title}}
	</h1>
	<em>
		{{@post.createdAt}}
	</em>
	<div>
		{{html-safe @post.content}}
	</div>
</article>
{{yield}}