<article local-class="post">
	{{#if this.session.isAuthenticated}}
		<LinkTo @route="posts.edit" @model={{@post.id}}>
			<Button @text="Edit" @icon="pencil-alt" />
		</LinkTo>
	{{/if}}
	<h1>
		{{@post.title}}
	</h1>
	<em>
		{{@post.createdAt}}
	</em>
	<div>
		{{html-safe @post.content}}
	</div>
</article>
{{yield}}